.game-canvas {
  border: 3px solid #999;
  border-radius: 3px;
  margin: auto;
  display: block;
  background-image:url('./images/background.png');
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.32);
  -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.32);
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.32);
  margin-left:52px;
}